# Bibliotecas necessárias

In [1]:
#comando para instalar a biblioteca pandas  ! pip install pandas 
import pandas as pd

c:\Users\Yung Beta\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# Dataset
eu já tinha um dataset com dados fictícios que eu pretendia usar para treinar por isso apenas  adaptei ele ao que foi pedido

In [2]:
#caminho do dataset
caminho_arquivo = r"Dataset de Produtos de Beleza e Cuidados Pessoais.csv"
#leitura do dataset ele está separado por ; e seu encodign é o UTF
df = pd.read_csv(caminho_arquivo, sep=";", encoding='UTF-8')

#Para saber o numero de linhas e colunas que o dataset tem  
linhas, colunas = df.shape
#faz uma soma das linhas vazia que o dataset tem 
valores_vazios = df.isnull().sum().sum()
#imprimi as 20 primeiras linhas do dataset 
display(df.head(20))

#imprimi quantas linhas e colunas o dataset tem
print(f"\nO dataset possui {linhas} linhas e {colunas} colunas.")
#imprimi quantas linhas vazias o dataset tem
print(f"\nExistem {valores_vazios} valores vazios no dataset.")

,ID,Data,Produto,Categoria,Quantidade,Preço
0,34151.0,02/01/2023,Batom,Maquiagem,2,"29,9"
1,41535.0,03/01/2023,Hidratante Facial,Cuidados com a pele,2,"44,99"
2,NaN,03/01/2023,Batom,Maquiagem,4,"29,9"
3,34151.0,04/01/2023,Batom,Maquiagem,4,"29,9"
4,55678.0,04/01/2024,Shampoo,Cuidados com os cabelos,3,NaN
5,55678.0,05/01/2024,Shampoo,Cuidados com os cabelos,3,"18,5"
6,41535.0,05/01/2023,Hidratante Facial,Cuidados com a pele,1,"44,99"
7,55678.0,06/01/2023,Shampoo,Cuidados com os cabelos,3,"18,5"
8,35658.0,06/01/2023,Condicionador,Cuidados com os cabelos,4,"21,5"
9,13535.0,07/01/2023,Esmalte Rosa,Unhas,5,"9,9"
10,87765.0,07/01/2023,Protetor solar,Cuidados com a pele,2,50
11,87725.0,07/01/2023,Sabonete Líquido,Cuidados com o corpo,1,"11,99"
12,NaN,07/01/2023,Creme para Mãos,Cuidados com o corpo,3,"18,75"
13,35367.0,07/01/2023,Creme para Mãos,Cuidados com o corpo,3,"18,75"
14,35367.0,09/01/2023,Creme para Mãos,Cuidados com o corpo,3,"18,75"
15,78675.0,09/01/2023,Kit Pincéis de Maquiagem,Maquiagem,2,"49,99"
16,16532.0,10/01/2023,NaN,Cuidados com os cabelos,3,"14,99"
17,78675.0,10/01/2023,Kit Pincéis de Maquiagem,Maquiagem,1,"49,99"
18,16532.0,11/01/2023,Óleo Capilar,Cuidados com os cabelos,4,"14,99"
19,78675.0,11/01/2023,Kit Pincéis de Maquiagem,Maquiagem,5,"49,99"

O dataset possui 674 linhas e 6 colunas.

Existem 27 valores vazios no dataset.

# Podemos perceber que temos valores vazios na coluna ID, Produto e Preço, percebemos também que na coluna Data tem datas com ano de 2024 o que é errado já que esse dataset é apenas do ano de 2023 e vemos varias duplicadas de produtos com o mesmo nome e quantidade para a mesma data, o que aparenta que quando foram registrar duplicou o registro

In [3]:
# Filtrando as linhas onde a coluna 'ID' está vazia
linhas_sem_id = df[df['ID'].isnull()]
# imprimi as linhas sem ID
print("Linhas sem ID:")
#imprimi as 11 linhas do dataset que estão sem o ID
display(linhas_sem_id.head(11))

Linhas sem ID:

,ID,Data,Produto,Categoria,Quantidade,Preço
2,NaN,03/01/2023,Batom,Maquiagem,4,"29,9"
12,NaN,07/01/2023,Creme para Mãos,Cuidados com o corpo,3,"18,75"
52,NaN,28/01/2024,Shampoo Matizador,Cuidados com os cabelos,3,"26,99"
58,NaN,02/02/2023,Shampoo Matizador,Cuidados com os cabelos,2,"26,99"
59,NaN,02/02/2023,Shampoo Matizador,Cuidados com os cabelos,2,"26,99"
62,NaN,06/02/2023,Shampoo Matizador,Cuidados com os cabelos,5,"26,99"
64,NaN,07/02/2023,Kit Matizador Shampoo e Condicionador,Cuidados com os cabelos,1,"61,99"
65,NaN,07/02/2023,Kit Matizador Shampoo e Condicionador,Cuidados com os cabelos,1,"62,99"
69,NaN,09/02/2023,Kit Matizador Shampoo e Condicionador,Cuidados com os cabelos,3,"61,99"
83,NaN,17/02/2024,Batom,Maquiagem,2,"29,9"

In [4]:
# Filtrando as linhas onde a coluna 'Produto' está vazia no caso o nome do produto
linhas_sem_nome_produto = df[df['Produto'].isnull()]

# imprimi as linhas sem ID
print("Linhas sem nome do Produto:")
#imprimi apenas uma linha do dataset que ta sem o nome do produto
display(linhas_sem_nome_produto.head(1))

Linhas sem nome do Produto:

         ID        Data Produto                Categoria  Quantidade  Preço
16  16532.0  10/01/2023     NaN  Cuidados com os cabelos           3  14,99

In [5]:
# Filtrando as linhas onde na coluna 'Preço' está vazia no caso o preço do produto
linhas_sem_preço_produto = df[df['Preço'].isnull()]

# imprimi as linhas sem o Preço do produto
print("Linhas sem o preço do Produto:")
#imprimi as 20 linhas do dataset que estão sem seu respectivo preço
display(linhas_sem_preço_produto.head(20))

Linhas sem o preço do Produto:

,ID,Data,Produto,Categoria,Quantidade,Preço
4,55678.0,04/01/2024,Shampoo,Cuidados com os cabelos,3,NaN
78,34586.0,13/02/2023,Batom Líquido,Maquiagem,4,NaN
79,34586.0,15/02/2023,Batom Líquido,Maquiagem,5,NaN
84,55678.0,17/02/2024,Shampoo,Cuidados com os cabelos,2,NaN
189,55678.0,17/04/2023,Shampoo,Cuidados com os cabelos,3,NaN
229,55678.0,16/05/2023,Shampoo,Cuidados com os cabelos,3,NaN
269,55678.0,14/06/2023,Shampoo,Cuidados com os cabelos,1,NaN
301,55678.0,06/07/2023,Shampoo,Cuidados com os cabelos,6,NaN
373,34586.0,11/08/2023,Batom Líquido,Maquiagem,3,NaN
374,34586.0,12/08/2023,Batom Líquido,Maquiagem,1,NaN
379,55678.0,15/08/2023,Shampoo,Cuidados com os cabelos,2,NaN
427,55678.0,15/09/2023,Shampoo,Cuidados com os cabelos,2,NaN
466,55678.0,10/10/2023,Shampoo,Cuidados com os cabelos,1,NaN
514,34586.0,07/11/2023,Batom Líquido,Maquiagem,5,NaN
515,34586.0,07/11/2023,Batom Líquido,Maquiagem,3,NaN
520,55678.0,09/11/2023,Shampoo,Cuidados com os cabelos,5,NaN

# Limpeza e Organização de Dados

In [6]:
#Primeiro vamos começar corrigindo as datas primeiro 
df['Data'] = df['Data'].str.replace('/2024', '/2023', regex=False)
#usando o replace para garanti que todas as datas sejam do ano certo 2023 no caso

#Agora vamos corrigir os Produtos que estão sem seus devidos ID
# Criando um dicionário de produtos e seus respectivos IDs
ids_correcoes = {
    "Batom": 34151,
    "Creme para Mãos": 35367,
    "Kit Matizador Shampoo e Condicionador": 77567,
    "Shampoo Matizador":77564

}

# Preenchendo esses IDS vazios
df['ID'] = df.apply(lambda row: ids_correcoes[row['Produto']] if pd.isnull(row['ID']) and row['Produto'] in ids_correcoes else row['ID'], axis=1)

#corrigindo os Produtos que estão sem seus devidos nome
produtos_correcoes = {
    16532: "Óleo Capilar"
}

# Preenchendo esse nome vazio
df['Produto'] = df.apply(lambda row: produtos_correcoes[row['ID']] if pd.isnull(row['Produto']) and row['ID'] in produtos_correcoes else row['Produto'], axis=1)

#como os valores do preço foram salvos no excel desse jeito 20,99 com virgula (padrão Brazileiro) e o Python entende esses valores (padrão americano) com . desse jeito 20.99 temos que converter agora para o Python consiga reconhecer e preeencher corretamente
produtos_faltando_preco = df[df['Preço'].isna()]['Produto'].unique()
df['Produto'] = df['Produto'].astype(str).str.strip()

#corrigindo os Produtos que estão sem seus devidos Preços
precos_correcoes = {
    "Shampoo": 18.50,
    "Batom Líquido": 27.99
}

# Preenchendo esses Preços vazios
df['Preço'] = df.apply(lambda row: precos_correcoes[row['Produto']] if pd.isnull(row['Preço']) and row['Produto'] in precos_correcoes else row['Preço'],axis=1)

#Convertendo a coluna inteira dos preços do formato brasileiro (com vírgulas) para o americano (com pontos)
df['Preço'] = df['Preço'].astype(str).str.replace(',', '.').astype(float)

# Removendo as duplicatas com base nas colunas 'Data' e 'Produto'
df_limpo = df.drop_duplicates(subset=['Data', 'Produto'])


#Para saber o numero de linhas e colunas que o dataset limpo tem 
linhas, colunas = df_limpo.shape

#imprimi as 30 primeiras linhas do dataset limpo
display(df_limpo.head(30))

#imprimi quantas linhas e colunas o dataset limpo tem agora
print(f"\nO dataset limpo possui {linhas} linhas e {colunas} colunas.")

# Salvando o dataset limpo 
df_limpo.to_csv('data_clean.csv', index=False, encoding='latin1')

print("Dataset limpo salvo como 'data_clean.csv'")

,ID,Data,Produto,Categoria,Quantidade,Preço
0,34151.0,02/01/2023,Batom,Maquiagem,2,29.90
1,41535.0,03/01/2023,Hidratante Facial,Cuidados com a pele,2,44.99
2,34151.0,03/01/2023,Batom,Maquiagem,4,29.90
3,34151.0,04/01/2023,Batom,Maquiagem,4,29.90
4,55678.0,04/01/2023,Shampoo,Cuidados com os cabelos,3,18.50
5,55678.0,05/01/2023,Shampoo,Cuidados com os cabelos,3,18.50
6,41535.0,05/01/2023,Hidratante Facial,Cuidados com a pele,1,44.99
7,55678.0,06/01/2023,Shampoo,Cuidados com os cabelos,3,18.50
8,35658.0,06/01/2023,Condicionador,Cuidados com os cabelos,4,21.50
9,13535.0,07/01/2023,Esmalte Rosa,Unhas,5,9.90
10,87765.0,07/01/2023,Protetor solar,Cuidados com a pele,2,50.00
11,87725.0,07/01/2023,Sabonete Líquido,Cuidados com o corpo,1,11.99
12,35367.0,07/01/2023,Creme para Mãos,Cuidados com o corpo,3,18.75
14,35367.0,09/01/2023,Creme para Mãos,Cuidados com o corpo,3,18.75
15,78675.0,09/01/2023,Kit Pincéis de Maquiagem,Maquiagem,2,49.99
16,16532.0,10/01/2023,Óleo Capilar,Cuidados com os cabelos,3,14.99
17,78675.0,10/01/2023,Kit Pincéis de Maquiagem,Maquiagem,1,49.99
18,16532.0,11/01/2023,Óleo Capilar,Cuidados com os cabelos,4,14.99
19,78675.0,11/01/2023,Kit Pincéis de Maquiagem,Maquiagem,5,49.99
20,98111.0,12/01/2023,Removedor de Maquiagem,Maquiagem,3,9.99
21,81196.0,13/01/2023,Máscara Capilar,Cuidados com os cabelos,1,21.99
23,34151.0,14/01/2023,Batom,Maquiagem,3,29.90
24,41535.0,14/01/2023,Hidratante Facial,Cuidados com a pele,2,44.99
25,87765.0,14/01/2023,Protetor solar,Cuidados com a pele,4,50.00
26,35367.0,14/01/2023,Creme para Mãos,Cuidados com o corpo,5,18.75
27,78675.0,14/01/2023,Kit Pincéis de Maquiagem,Maquiagem,3,49.99
28,16532.0,14/01/2023,Óleo Capilar,Cuidados com os cabelos,2,14.99
29,81196.0,16/01/2023,Máscara Capilar,Cuidados com os cabelos,1,21.99
30,66654.0,16/01/2023,Tônico Capilar,Cuidados com os cabelos,3,28.99
31,66654.0,17/01/2023,Tônico Capilar,Cuidados com os cabelos,4,29.99

O dataset limpo possui 550 linhas e 6 colunas.
Dataset limpo salvo como 'data_clean.csv'

# Análise de Dados de Vendas

In [7]:
#caminho do dataset_limpo
caminho_arquivo_limpo = r"data_clean.csv"
#leitura do dataset ele está separado por ; e seu encodign é o UTF
df_limpo = pd.read_csv(caminho_arquivo_limpo, sep=",", encoding='latin1')

In [8]:
#tive que dropar uma linha que foi reconhecida como naN, é depois da ultima linha do dataset então é normal ela ser zerada
df_limpo = df_limpo.dropna(subset=['Quantidade', 'Preço'])

# Calculando o total de vendas (Quantidade * Preço) por produto
df_limpo['Total_Vendas'] = df_limpo['Quantidade'] * df_limpo['Preço']

# Agrupando por produto para calcular o total de vendas por produto
vendas_por_produto = df_limpo.groupby('Produto')['Total_Vendas'].sum().reset_index()

# O produto com o maior número de vendas totais
produto_mais_vendido = vendas_por_produto.loc[vendas_por_produto['Total_Vendas'].idxmax()]

# Imprimindo os resultados do total de vendas de todos os produtos
print("Total de vendas por produto:")
display(vendas_por_produto)

# Imprimindo os resultados do total de vendas de todos os produtos
print("\nProduto com o maior número de vendas totais:")
print(produto_mais_vendido)

Total de vendas por produto:

                                  Produto  Total_Vendas
0                                   Batom       4485.00
1                           Batom Líquido        587.79
2                           Condicionador        451.50
3                 Condicionador Matizador       1949.35
4                         Creme para Mãos       1812.00
5                            Esmalte Rosa        425.70
6                        Esmalte vermelho       1298.70
7                       Hidratante Facial       3509.22
8   Kit Matizador Shampoo e Condicionador       1053.83
9                Kit Pincéis de Maquiagem       4099.18
10            Kit Shampoo e Condicionador        839.80
11           Kit de Cuidados com as Unhas        609.45
12                        Máscara Capilar        879.60
13                         Máscara Facial        436.81
14          Protetor Térmico para Cabelos        767.76
15                         Protetor solar       3000.00
16                   Removedor de Esmalte        170.81
17                 Removedor de Maquiagem        716.31
18                        Sabonete Facial        207.92
19                       Sabonete Líquido        371.69
20                                Shampoo        962.00
21                      Shampoo Matizador       1727.36
22                         Tônico Capilar       2325.23
23                           Óleo Capilar       1154.23

Produto com o maior número de vendas totais:
Produto          Batom
Total_Vendas    4485.0
Name: 0, dtype: object

# Produto com o maior número de vendas totais sendo o **Batom** com **R$4.485,00**